* {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

h1 {
    font-size: 40px;
}

p em {
    font-variant: small-caps;
}

.grid-container {
    display: grid;
    column-gap: 20px;
    row-gap: 40px;
    grid-template-columns:  500px 300px 400px;
}

